html { height: 100% }
body { height: 100%; margin: 0; padding: 0; overflow: scroll; }
#map { height: 100% }

#info-box {
    background-color: white;
    border: 1px solid black;
    bottom: 30px;
    height: 20px;
    padding: 10px;
    position: absolute;
    right: 50px;
}

#about {
    position: absolute;
    bottom: 50px;
    left: 30px;
}
#return {
    position: absolute;
    top: 10px;
    left: 200px;
    padding: 10px;
}

#floating-panel {
    position: absolute;
    top: 30px;
    right: 50px;
    z-index: 5;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    text-align: right;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#misc {
   background: white;
   color: black;
}

a:link, a:visited {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: white;
    color: black;
    border: 1px solid black;
}

#summary {
    padding: 10px;
    overflow: scroll;
}